@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Configuration;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var version = new UmbracoVersion().SemanticVersion.ToSemanticStringWithoutBuild();
    var logo = Model.Value<MediaWithCrops>("logo", fallback: Fallback.ToAncestors);
    var logoUrl = logo?.MediaUrl();
    var customStyles = Model.Value<string>("customStyles", fallback: Fallback.ToAncestors);
    var customScripts = Html.Raw(Model.Value<string>("customScripts", fallback: Fallback.ToAncestors));
    var facebookLink = Model.Value<string>("facebook", fallback: Fallback.ToAncestors);
    var instagramLink = Model.Value<string>("instagram", fallback: Fallback.ToAncestors);
    var youTubeLink = Model.Value<string>("youTube", fallback: Fallback.ToAncestors);
}
<!doctype html>
<html dir="ltr" lang="en-US">
    <head runat="server">
        <title></title>        
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content="Umbraco v@(version)" />
        <meta http-equiv="last-modified" content="@Model.UpdateDate.ToString("D")" />
        <meta name="dcterms.rightsHolder" content="@Model.Value("footerCopyrightHolder", fallback: Fallback.ToAncestors)" />
		<meta name="dcterms.dateCopyrighted" content="@Model.CreateDate.ToString("D")" />
        <!-- Styles -->
		@* <link href="/css/Test 1 Styles.css" rel="stylesheet" type="text/css" /> *@
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/fontawesome.min.css" rel="stylesheet" />
        <link href="/css/brands.min.css" rel="stylesheet" />
        <link href="/css/materialize.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
        <link href="/css/Test 2 Styles.min.css" rel="stylesheet" type="text/css" />
        @if (customStyles != null)
        {
            <style>
                @customStyles
            </style>
        }
    </head>
    <body>
        <header class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="@logoUrl" alt="Logo" /></a>
                @Html.Partial("Navigation")
                </div>
            </nav>
        </header>
        <main class="container">
            @RenderBody()
        </main>
        <footer class="page-footer container">
            Copyright &copy; @DateTime.Now.Year @Model.Value("footerCopyrightHolder", fallback: Fallback.ToAncestors)
            <div class="social">
                @if (facebookLink != null) {
                    <a href="@facebookLink"><i class="fa-brands fa-facebook"></i></a>
                }
                @if (instagramLink != null) {
                    <a href="@instagramLink"><i class="fa-brands fa-instagram"></i></a>
                }
                @if (youTubeLink != null)
                {
                    <a href="@youTubeLink"><i class="fa-brands fa-youtube"></i></a>
                }
            </div>
        </footer>
        <script type="text/javascript" src="/scripts/materialize.min.js"></script>
        @if (customScripts != null)
        {
            @customScripts
        }
    </body>
</html>