@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
    var logo = Model.Value<MediaWithCrops>("logo", fallback: Fallback.ToAncestors);	
}
<!doctype html>
<html dir="ltr" lang="en-US">
    <head runat="server">
        <title></title>        
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="Umbraco v7.8.1" />
        <meta http-equiv="last-modified" content="" />        
		<meta name="dcterms.rightsHolder" content="Groove Juice Swing, LLC" />
		<meta name="dcterms.dateCopyrighted" content="" />
        <!-- Styles -->
		<link href="/css/Test1 Styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        @if (logo != null) {
        <header>
            <a href="/"><img src="@logo.MediaUrl()" alt="Logo" /></a>
        </header>
        }
        @Html.Partial("Navigation")
        <main>
        @RenderBody()
        </main>
        <footer>
        Copyright &copy; @DateTime.Now.Year @Model.Value("footerCopyrightHolder", fallback: Fallback.ToAncestors)
        </footer>
    </body>
</html>