@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Configuration;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var version = new UmbracoVersion().SemanticVersion.ToSemanticStringWithoutBuild();
    var logo = Model.Value<MediaWithCrops>("logo", fallback: Fallback.ToAncestors);
}
<!doctype html>
<html dir="ltr" lang="en-US">
    <head runat="server">
        <title></title>        
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="Umbraco v@(version)" />
        <meta http-equiv="last-modified" content="@Model.UpdateDate.ToString("D")" />
        <meta name="dcterms.rightsHolder" content="@Model.Value("footerCopyrightHolder", fallback: Fallback.ToAncestors)" />
		<meta name="dcterms.dateCopyrighted" content="@Model.CreateDate.ToString("D")" />
        <!-- Styles -->
		<link href="/css/Test1 Styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        @if (logo != null) {
        <header>
            <a href="/"><img src="@logo.MediaUrl()" alt="Logo" /></a>
        </header>
        }
        @Html.Partial("Navigation")
        <main>
            @RenderBody()
        </main>
            <footer>
        Copyright &copy; @DateTime.Now.Year @Model.Value("footerCopyrightHolder", fallback: Fallback.ToAncestors)
        </footer>
    </body>
</html>